<%- include('head.ejs') %> <%- include('header.ejs') %>
<div class="trip container">
  <div>
    <% if (trip) { %>
    <img src="/images/<%= trip.image %>" />
    <h1><%= trip.destination %></h1>
    <p><%= trip.price %></p>
    <form action="" method="POST">
      <% for (let available of trip.availability) { %>
      <label for="date_range">
        <input
          type="radio"
          id="date_range"
          name="date_range"
          value="<%= available.start_date %>-<%= available.end_date %>"
        />
        <span><%= available.start_date %> - <%= available.end_date %></span>
      </label>
      <% } %>
      <br />
      <% for (let room of trip.rooms) { %>
      <label for="room">
        <input type="radio" id="room" name="room" value="<%= room.type %>" />
        <span><%= room.type %></span>
        <span><%= room.gender %></span>
        <span>€<%= room.price %></span>
      </label>
      <% } %>
      <br />
      <button type="submit">Book now</button>
    </form>
    <% } %>
  </div>
</div>
