<%- include('head.ejs') %> <%- include('header.ejs') %>
<div class="trip container">
  <div>
    <% if (trip) { %>
    <img src="/images/<%= trip.image %>" />
    <h1><%= trip.destination %></h1>
    <p><%= trip.price %></p>
    <form action="" method="POST">
      <% for (let available of trip.availability) { %>
      <label for="date_range">
        <input
          type="radio"
          id="date_range"
          name="date_range"
          value="<%= available.start_date %>-<%= available.end_date %>"
          required
        />
        <span><%= available.start_date %> - <%= available.end_date %></span>
      </label>
      <% } %>
      <br />
      <% for (let room of trip.rooms) { %>
      <label for="room">
        <input
          type="radio"
          id="room"
          name="room"
          value="<%= room.type %> <%= room.gender %> €<%= room.price %>"
          required
        />
        <span><%= room.type %></span>
        <span><%= room.gender %></span>
        <span>€<%= room.price %></span>
      </label>
      <% } %>
      <br />
      <input
        name="first_name"
        type="text"
        value="<%= user.first_name %>"
        readonly
      />
      <input
        name="last_name"
        type="text"
        value="<%= user.last_name %>"
        readonly
      />
      <input name="email" type="text" value="<%= user.email %>" readonly />
      <button type="submit">Book now</button>
    </form>
    <% } %>
  </div>
</div>
