<%- include('head.ejs') %> <%- include('header.ejs') %>
<div class="trip container">
  <div>
    <% if (trip) { %>
    <img src="/images/<%= trip.image %>" />
    <h1><%= trip.destination %></h1>
    <p><%= trip.price %></p>
    <p><%= trip.description %></p>
    <% } %>
  </div>
  <a href="/trips/<%= trip.slug %>/book">Book now</a>
</div>
